jupyter
requests
fastapi
streamlit
numpy
pandas
scipy
scikit-learn
tensorflow 
imbalanced-learn
xgboost
uvicorn
python-multipart
mrmr-selection
pydantic
matplotlib
seaborn
plotly
streamlit-drawable-canvas
opencv-python
